.box-stock {
  width: 300px;
  display: inline-block;
  height: auto;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

.box-stock img {
  width: 300px;
  height: 200px;
}

.btn-click {
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 17, 0);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
